!!! XML
!!!
%html
	%head
		%link(rel="stylesheet"
		href="/style.css"
		type="text/css"
		media="screen"
		title="no title"
		charset="utf-8")
		%meta(name="viewport"
		content="width=320, user-scalable=yes")
		%title 
			You'd have 
			= @moneyYouWouldHave
			dollars.
	%body
		%h1
			If you had bought
			= params[:dollars]
			dollars worth of
			%a{:href => "http://finance.yahoo.com/q?s=" + @ticker}<
				= params[:name]
			\ back in 
			= params[:year]
			you'd have
			= @moneyYouWouldHave
			dollars by now.
			
		%h2
			A share of
			= params[:name]
			was worth
			= @formerPricePerShare
			dollars back then, but today
			it's worth
			= @currentPricePerShare
			dollars.
			
		%h2
			%a{:title => "Try another one", :href => "/"} Try another one.
			
		%h3
			%script{ :src => "http://platform.twitter.com/widgets.js", :type => "text/javascript" }
			%div
				%a{:href => "http://twitter.com/share?text=If I had bought #{params[:dollars]} dollars worth of $#{@ticker} back in #{params[:year]} I'd have #{@moneyYouWouldHave} dollars by now.&amp;via=stockregrets&amp;url=http://stockregrets.heroku.com&amp;count=none&amp;data-related=atestu", :class => "twitter-share-button"}
					tweet this
			
			
			
			
			
			
			
			
			